body{
    font-family: 'Raleway', sans-serif;
    font-size: 14;
    color:#A1A1A1;
}.menu {
    margin-left: 15%;
    margin-right: 23%;
    width: 950px;
    max-width:100%;
    padding-top: 1px;
}
.menu ul{
    list-style: none;
    display:flex; 
}
.menu ul li a{
    display: inline;
}
.barranav{
    display:flex;
    flex-wrap:wrap;
}
.link{
    margin-top: 8px;
}
.agn1 {
    max-width: 30px;
    margin-right: 3%;
}
.logo{
    margin-right:10%;
}
a{
    padding: 0 5;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14;
    color:#A1A1A1;
    border:none;
}
.txtBusca{
    background-color:transparent;
    font-style:italic;
    font-size:18px;
    border:none;
    width:100%;
    text-align: right;
    box-sizing: border-box;
    padding: 0 8;
  }
#Busca{
    border: outset 1px;
    border-radius:5px;
    width:50%;
    margin: 0 30;
    display: flex;
  }
input, textarea, select {
    outline:0;
    border: outset 1px;
    border-radius:5px;
  }
#ui-id-1{
    background: #FFFFFF;
    list-style: none;
    cursor: pointer;
    border: ridge 1px;
    border-radius: 5px;
    width: 280px;
  }
.carrinho{
      width: 30px;
      height: 30px;
      border:none;
  }
section div ul{
    list-style: none;
}
section div ul li{
    display: inline;
}
.fotomostruario{
    max-width: 50px;
    width: 100%;
    border: ridge 1px;
}  
.secao{
    margin-left: 15%;
    margin-right: 15%;
    display:flex;
    width:75%;
    vertical-align: middle;
}
.secao div ul{
    flex-direction: row;
}
.mostruario{
    margin:auto;
}
.guia{
    color:#F8F8F8;
    font-size:16;
    font-weight:900
}
#fotoproduto{
    width:100%;
    border: ridge 1px;
}
#informacoes{
    width: 400px;
    height:400px;
    max-width:100%;
}
.informacoes ul{
    border: 0px;
}
.divisoes{
    height: 18%;
}
.preco{
    background-color: #F8F8F8;
    text-align: left;
    height: 30%;
    border-radius: 0px 5px 5px 0px;
    padding-top:5%;
}
.preco-promo{
    color:#4EC2DD;
    font-weight: bolder;
    font-size:25px;
}
.frete{
    width: 80%;
    height: 30%;
    background-color: #4EC2DD;
    border-radius: 5px;
    margin-left: 36px;
    text-align:left;
    color:#FFFFFF;
    font-weight: 800;
    font-size:18;
    padding-top:20;
}
#botao{
    border-radius: 6px;
    background-color: #71CE4B;
    width:110px;
    height:30px;
    color:white;
    font-weight: 800;
    cursor: pointer;
}
#botao2{
    border-radius: 6px;
    background-color: #71CE4B;
    width:130px;
    height:60px;
    color:white;
    font-weight: 800;
    cursor: pointer;
}
.botao3{
    border-radius: 6px;
    background-color: #0F4156;
    width:130px;
    height:60px;
    color:#FFFFFF;
    font-weight: 800;
    cursor: pointer;
}
.botao5{
    border-radius: 100%;
    font-weight: 300;
    margin:5px;
    cursor: pointer;
}
#botaofrete{
    border-radius: 6px;
    background-color: #0F4156;
    width:110px;
    height:30px;
    color:white;
    font-weight: 800;
    cursor: pointer;
}
#descricao{
    width:85%;
    margin-left: 5%;
    text-align: center;
    font-size:16;
}
h3{
    text-align: left;
    color:#FFFFFF;
}
h2{
    text-align:center;
    color:#0F4156
}
h4{
    color:#0F4156;
}
h5{
    padding-left:110px;
}
.img-comprejunto{
    width:90%;
    border: ridge 1px;  
}
.promocao{
    width:24%;
    text-align:left;
    margin-left: 3%;
    border-radius: 5px;
}
.compra{
    margin: 20%;
    border-radius:2px;
    text-align:center;
}
.desconto{
    background-color: #F1D521;
    padding:10%;
    border-radius: 5px;
}
.quemviu{
    background-color: #F8F8F8;
    width:100%;
    height: 350px;
    max-width:180;
    
}
.imgquemviu{
    width:100%;
    max-width:150;
    border: ridge 1px;
    margin: 12;
}
.carousel{
    width:100%;
    max-width:850px;
    padding-left:45px;
}
.slick-next::after {
    content: ">";
    color: #FFFFFF;
    font-size: 30px;
    border-radius:50px;
    background-color:#4EC2DD;
  }
  .slick-prev::after {
    content: "<";
    color: #FFFFFF;
    font-size: 30px;
    border-radius:50px;
    background-color:#4EC2DD;
  }
  .slick-dots li{
    font-size:20px;
    color:#4EC2DD;
    background:#0F4156;
    border-radius: 50%;
  }
.sinal{
    font-size: 100;
    color: #4EC2DD;
    vertical-align: 50%;
    font-weight: bolder;
    
}
footer{
    display: flex;
    flex: inline;   
}
.rodape1{
    width:25%;
    height:50px;
    background-color: #0F4156;
    text-align:right;
}
.rodape2{
    width:100%;
    height:50px;
    background-color: #4EC2DD;
    color:#FFFFFF;
    font-size:12px;
}
.direitos{
    margin:20;
}
.btnproximo{
    margin-top:10%;
    font-size: 50;
    color:#4EC2DD;
    vertical-align: 50%;
    font-weight: bolder;
}
.total{
    font-size: 14px;
    padding:10;
}
.comprar{
    border-radius: 10px;
    background-color: #0F4156;
    width:auto;
    color:#FFFFFF;
    font-weight: 800;
    margin: 1% 30%;
    cursor: pointer;
}
.limpar{
    border-radius: 10px;
    background-color: #0F4156;
    color:#FFFFFF;
    font-weight: 800;
    cursor: pointer;
}
#modal{
    background: rgba(0, 0, 0, 0.8);
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    display:none;
}
.modal-box{
    background: #FFF;
    width:25%;
    height:300px;
    min-width: 250px;
    margin-left: 35%;
    margin-top:10%;
    padding:20px;
    border-radius:10px;
}
.modal-box-conteudo{
    text-align:center;
    font-family: 'Raleway', sans-serif;
    font-size: 20;
    font-weight:bolder;
    color:lightskyblue;
    margin-right:10%;
}
#cart-box{
    background: rgba(0, 0, 0, 0.8);
    width:25%;
    height:560;
    min-width: 250px;
    margin-top:77px;
    margin-left:auto;
    border-radius:10px;  
    position: fixed;
    right:0;
    top:0;
    display:none;
}
.cart-top{
    display:flex;
    flex:row;
    width:100%;
    height:10%;
    background-color:#0F4156;
    border-radius:10px;
    font-family: 'Raleway', sans-serif;
    font-size: 20;
    font-weight:bolder;
    color:lightskyblue; 
}
#cart-middle{
    display:flex;
    flex-direction:column;
    width:100%;
    height:70%;
    font-family: 'Raleway', sans-serif;
    font-size: 20;
    font-weight:bolder;
    color:#FFFFFF;
}
#itens{
    height:80%;
    margin:5%;
}
.rodape-middle{
    margin-left:30%;
}
.cart-foot{
    width:100%;
    height:20%;
    background-color:#0F4156;
    border-radius:10px;
    font-family: 'Raleway', sans-serif;
    font-size: 20;
    font-weight:bolder;
    color:lightskyblue;
}
.fechar{
    margin-left:auto;
}
@media (max-width:800px){
    .secao{
        flex-wrap:wrap;
    }
    .promocao{
        display:flex;
        flex-wrap:wrap;
        width:80%;
        height:40%;
    }
    .compra{
        margin:5%;
        margin-left: 23%;
    }
    .modal-box{
        margin-left:18%;
    }
    .quemviu{
        background-color: #F8F8F8;
        margin:1%;
        width:100%;
        max-width:210;
    }
    .imgquemviu{
    margin-left: 30;
    }
    .frete{
        width: 90%;
        margin-left: 0;
    }
    .promo{
        width:100%;
    }
    .compra{
        margin-left:30%;
    }
    #descricao{
        width:100%;    }
}
@media (max-width:900px){
    .mostruario{
        display:none;
    }
    #guia{
        display:none;
    }
    .btnproximo{
        display:none;
    }
}